$primary-color1: #333333;
$primary-color2: #ffffff;
$primary-color3: #ca8f48;

.discover {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 72px;
}

.discover-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 32px 0;
}

.discover-linkWrap {
  margin-bottom: 24px;
}

.discover-img {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.discoverItem-title {
  font-size: 14px;
  margin: 16px 0 0 0;
}

.discoverItem-subtitle {
  width: 90%;
  font-size: 12px;
  margin: 8px 0 16px 0;
}

.discover-itemlink {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  // line-height: 16px;
  text-decoration-line: underline;
  color: $primary-color3;
}

@media (min-width: 500px) {
  .discover {
    padding: 0;
  }

  .discover-flex {
    width: calc(100% - 12px);
    margin: 0 auto 72px auto;
    display: flex;
  }

  .discover-linkWrap {
    padding: 0 12px;
    width: 50%;
  }
}

@media (min-width: 996px) {
  .discover-flex {
    width: calc(100% - 64px);
  }

  .discover-title {
    font-size: 24px;
  }

  .discover-linkWrap {
    padding: 0 32px;
  }

  .discoverItem-title {
    font-size: 18px;
    margin-top: 20px;
  }

  .discoverItem-subtitle {
    //   width: 85%;
    font-size: 18px;
  }

  .discover-itemlink {
    font-size: 18px;
  }
}
